body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-flow: column;
    text-align: center;;
    
}
.sectionone{
    display: flex;
    flex-flow: column;
    background-color: #1E1E1E;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    
}
.subone{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    

}
.subone ul{
   
    display: flex;
    justify-content: space-evenly;
    flex-flow: row; 
    gap: 15px;

}
li{
    font-size: 15px;
    list-style-type: none;
}
.subtwo{
    display: flex;
    flex-flow: row;
    padding: 30px;
    gap: 30px;
}
.leftone{
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    padding: 30px;
    justify-content: space-evenly;
}
button{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    height: 40px;
}
.subtwo img{
    width: 50%;
}

.sectiontwo{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: beige;
    display: flex;
    flex-flow: column;
    gap: 30px;
}
.undertwo{
    display: flex;
    align-items:center;
    align-content: center;
    gap: 30px;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight:400;
}
.card img{
    width: 200px;
    height: 200px;
}
.sectionthree{
    background-color: #4CAF50;
    font-size: 30px;
    display: flexbox;
    flex-flow: column;
}
.sectionthree b{
    font-size: 25px;
    
}
.sectionfour{
    background-color: beige;
    display: flex;

}
.compassfour{
    flex: 1 1 100%;
    display: flex;
    margin: 100px 300px 100px 300px;
    background-color: #4CAF50;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    gap: 40px;
}

.compassfour button{
    width: 300px;
    border-color: white;
    border-width: 5px;
}

.subfour{
    display: flex;
    flex-flow: column;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}
.subfour b{
    font-size: larger;
}
.sectionfive{
    background-color: #1E1E1E;
    color: grey;
    height: 60px;

}