body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-flow: column;
    text-align: center;;
    
}
.sectionone{
    display: flex;
    flex-flow: column;
    background-color: #1E1E1E;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    
}
.subone{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    align-items: center;
    

}
.subone ul{
   
    display: flex;
    justify-content: space-evenly;
    flex-flow: row; 
    gap: 15px;

}
li{
    font-size: 15px;
    list-style-type: none;
}
.subtwo{
    display: flex;
    flex-flow: row;
    padding: 30px;
    gap: 30px;
}
.leftone{
    display: flex;
    flex-flow: column;
    flex: 1 1 50%;
    padding: 30px;
    justify-content: space-evenly;
}
button{
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    height: 40px;
}
.subtwo img{
    width: 50%;
}

.sectiontwo{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F5F5F5;
    display: flex;
    flex-flow: column;
    gap: 30px;
}
.undertwo{
    display: flex;
    align-items:center;
    align-content: center;
    gap: 30px;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    gap: 10px;
}
.card img{
    width: 200px;
    height: 200px;
}
.sectionthree{
    background-color: #4CAF50;
    font-size: 30px;
    display: flexbox;
    flex-flow: column;
}
.sectionthree b{
    font-size: 25px;
    
}
.sectionfour{
    background-color: #F5F5F5;
    
}
.sectionfive{
    background-color: #1E1E1E;
}